# Virtual environment folder
.jm2_venv/

# Intermediate files from running the scripts
data/

# Specific to my write-up on the project
doc/

# Spcific to the write-up
scripts/

# System-specific files (macOS directory attributes)
.DS_Store


