# Virtual environment folder
.jm2_venv/

# Intermediate files from running the scripts
data/embeddings.npy
data/umap_embeddings.npy
data/paragraph_to_index.npy
data/density.npy
data/state_for_article/

# Specific to the user's environment. You'll have to create one as well.
data/config.txt

# Specific to my write-up on the project
doc/tech_enabled_journaling.org
doc/slides_for_article.pptx
doc/images/

# Scripts (contains sensitive information or specific to development environment)
scripts/update_site.sh

# System-specific files (macOS directory attributes)
.DS_Store


